# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
*.egg-info/

# Cache Pip (C'est ce qui a causé votre erreur)
.cache/

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/

# OS
.DS_Store
